.vs/
CareScanner/App_Data/*
CareScanner/node_modules/*
CareScanner/aot/*
!CareScanner/App_Data/ImportData
CareScanner/bin
[Oo]bj/
[Bb]in/
*.user
/TestResults
*.vspscc
*.vssscc
*.suo
*.cache
*.csproj.user
packages/*
/apps
msbuild.log
_app/
nuget.exe
**/Build/**/*.js
**/Build/**/*.js.map
!**/Build/**/*.live.*.js
!**/Build/**/*.live.*.js.map
**/ngFork/**/*.js
**/ngFork/**/*.js.map
**/ngComponents/**/*.js
**/ngComponents/**/*.js.map
**/ngStarters/**/*.js
**/ngStarters/**/*.js.map
**/ngModules/**/*.js
**/ngModules/**/*.js.map
**/ngModels/**/*.js
**/ngModels/**/*.js.map
**/ngPipes/**/*.js
**/ngPipes/**/*.js.map
**/ngServices/**/*.js
**/ngServices/**/*.js.map
